* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, Helvetica, sans-serif;
    color: white;
    font-family: Lato, sans-serif;



}

html, body {
    background-color: rgb(23, 31, 36);
    color: white;
    width: 100%;
    overflow-x: hidden;
}





header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10%;
    /* height: 40px; */
    width: 100%;
    background-color: rgb(45, 46, 58);
    /* background: transparent; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    /* gap: -30px; */



}

.logo {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: white;

}

.logo::first-letter {
    color: rgb(249, 4, 135);

}

.navbar a {
    display: inline-block;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 500;
    text-decoration: none;



}

.navbar a:hover {
    color: #0ef;
    text-decoration: underline;
    text-decoration-thickness: 3px;

    /* text-shadow: 0 0 3px #0ef; */
}


.home {
    color: black;
    margin-top: 130px;
    margin-bottom: 130px;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px 10% 0;

}

/* This is for to take the image and intro in one line */
.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 50px;


}

/* 
.intro{
    width: 50%;
} */
.name {
    color: rgb(249, 4, 135);
}

.profesion {
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;


}

.profesion:hover {

    text-decoration: underline;
    text-decoration-thickness: 3px;

}

.myname {
    font-size: 25px;
    font-weight: 600;
}

.myself {
    margin-top: 20px;
}

.myimg {
    width: 400px;
    height: 400px;
    /* margin-left: 15rem; */

    border: 2px solid #0ef;
    border-radius: 50%;
    box-shadow: 0 0 100px #0ef;
    transition: 2s;


}

.myimg:hover {
    box-shadow: 0 0 5px #0ef,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 75px cyan, 0 0 100px cyan;
}

.mycontact {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}


.home_contact a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 14px;
    /* padding-right: 60px; */
    background: transparent;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid aqua;
    color: #0ef;
    font-size: 20px;

}

.home_contact a:hover {
    background-color: aqua;
    color: black;
    box-shadow: 0 0 10px #0ef;

}

.home_contact a i:hover {
    background-color: aqua;
    color: black;
    box-shadow: 0 0 15px #0ef;
}

.btn_box {
    height: 30px;
    width: 150px;
    background-color: #0ef;
    border-radius: 16px;
    text-align: center;
    padding-top: 5px;
}

.btn_cv {
    text-decoration: none;
    color: black;
    font-size: 15;
    letter-spacing: 1px;
    font-weight: 550;

}



.btn_box:hover {
    cursor: pointer;
    box-shadow: 0 0 20px cyan;
    background-color: #0ef;
}

.about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 0 40px 0 40px;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    gap: 100px;
    margin-bottom: 130px;

}

.proimg {
    width: 400px;
    height: 400px;
    margin-top: 112px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 50%;
    border: 2px solid cyan;
    box-shadow: 0 0 100px cyan;
    transition: 2s;
}

.proimg:hover {
    box-shadow: 0 0 5px #0ef,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 75px cyan, 0 0 100px cyan;
}



.abouthead {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.webdev {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.me {
    color: cyan;

}

.education {
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(235, 13, 13);
}

.eduyear {
    color: rgb(235, 13, 13);
    font-weight: 500;

}

.edu {
    font-weight: 600;
    margin-bottom: 10px;
}

/* this code for skills */



.skills-section {
    height: 100%;
    width: 100%;
}

.skillsheading {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills {
    /* width: 100vw; */
    height: 70vh;
    width: 90vw;
    margin-top: 20px;
    background-color: rgb(36, 44, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.1);

    border-radius: 20px;


}

.bar {
    height: 200px;
    width: 200px;
    color: white;
    background-color: rgb(45, 52, 54);
    border-radius: 20px;
    box-shadow: 0 0 15px #f7f9fc;
    text-align: center;
    padding-top: 20px;
    font-size: 500;
    gap: 10px;
    transition: all 0.5s ease-in-out 0.2s;
}

.bar:hover {
    width: 200px;
    height: 200px;
    transform: scale(1.1);
}

.skills .bar .info a i {
    font-size: 80px;
    margin: 10px 10px;
    /* margin-bottom: 10px; */
}



/* this code for projects */
.project-section {
    margin-top: 30px;
    height: 100%;
    width: 100%;
}

.project-section p {
    text-align: center;

}

.projectheading {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 100px;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 40px;
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
    /* background-color: rgb(36, 44, 48); */



}

.project {
    width: 250px;
    height: 250px;
    background-color: rgb(45, 52, 54);
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(121, 112, 102);


}

.project:hover {
    border: 2px solid #f7f9fc;
    transform: translateY(-10px);
    box-shadow: 0 0 15px #f7f9fc;
}

.project h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.project a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


/* contact */
.contacts-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 90vw;
    height: 100%;
    gap: 30px;

}

.abtcontact {
    text-align: left;
    margin-left: 50px;
    width: 50%;
}

.contact {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;


}

.cnctpara {
    text-align: start;
    margin-bottom: 20px;
    margin-right: 10px;
}

.emailnum {
    font-weight: 600;
}

.contactmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 560px;
    height: 500px;
    background-color: rgb(45, 52, 54);
    /* box-shadow: 0 0 25px rgb(121, 112, 102); */
    border-radius: 20px;

}

.msgnes {
    height: 50px;
    width: 480px;
    border-radius: 8px;
    color: #f0f0f0;
    background-color: #3a3a3a;
    overflow-x: auto;
    margin-bottom: 10px;

}

.entermsg {
    height: 150px;
    width: 480px;
    border-radius: 8px;
    color: #f0f0f0;
    background-color: #3a3a3a;
    overflow-x: auto;
    padding: 10px;
    resize: none;
}



.msgsubmit {
    background-color: #0ef;
    color: black;
    font-size: 20px;
    font-weight: 520;
    letter-spacing: 1px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #0ef;
    display: block;
    margin: 0 auto;
    margin-top: 20px;



}

.msgsubmit:hover {
    cursor: pointer;
    box-shadow: 0 0 15px cyan;


}

.footer-section {
    width: 100%;
    height: 100px;
    background-color: rgb(45, 46, 58);
    overflow-x: hidden;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;


}

.personalinfo p {
    margin-top: 20px;
}





@media(max-width: 1000px) {
    * {
        margin: 0px;

    }

    body {
        overflow-x: hidden;
    }

    .header {
        width: 100%;
    }

    .navbar a {
        font-size: 10px;
        margin-left: 10px;

    }


    .logo {
        font-size: 20px;

    }

    .header {
        padding: 7px 5%;

    }

    .home_content {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .myimg {
        width: 260px;
        height: 260px;
        margin-top: -50px;
    }

    .proimg {
        width: 260px;
        height: 260px;
        margin: 0px;
    }

    .about_me {
        flex-direction: column;
    }

    .aboutmetxt {
        margin: 0px;
    }

    .skills {
        height: 50vh;
        width: 90vw;
        margin-top: 20px;
        gap: 50px;


    }

    .bar {
        width: 6em;
        height: 6em;
        padding-top: 5px;
        gap: 3px;
    }

    .bar:hover {
        width: 7em;
        height: 7em;
    }

    .skills .bar .info a i {
        font-size: 50px;
        margin-top: 5px;
    }

    .project {
        width: 210px;
        height: 210px;
    }

    .project h2 {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .project a {
        font-size: 30px;
        margin-top: 20px;
    }

    #projects {
        margin-top: 30px;
        margin-bottom: 50px;
        gap: 40px;
        width: 70vw;
        height: 100%;
    }

    .contacts-section {
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
        gap: 30px;
        flex-direction: column;

    }

    .abtcontact {
        text-align: start;
        width: 100%;
        height: 100%;
    }

    .contactmsg {

        height: 450px;
        width: 100% !important;
        max-width: 320px;
    }

    .msgnes {
        height: 40px;
        width: 300px;

    }

    .entermsg {
        height: 140px;
        width: 300px;
        padding: 10px;
        resize: none;




    }

    .msgsubmit {

        height: 30px;
        width: 200px;
        margin-top: 10px;
    }

    .footer-section {
        width: 100%;
        height: 80px;

    }

}